<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Social Pigeon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
<!-- Header Start -->
<header class="mainHeader desktop">
		<nav class="uk-container uk-navbar-transparent" >
			
			<div class="uk-float-left">
				<div class="logo">
					<a href="/"><img src="../static/../static/images/logo.svg"></a>
				</div>
			</div>
			<div class="uk-float-right">
				<ul>
					<li><a href="/influencer">For Creators</a></li>
					<li><a href="/Brands">For Companies</a></li>
					<li><a class="joinBtn" href="#Join">Join Now</a></li>
				</ul>
				
			</div>
		</nav>	
</header>		


<!-- mobile Header Start -->
<header class="mainHeader mobile">
		<nav class="uk-container uk-navbar-transparent" >
			
			<div class="uk-float-left">
				<div class="logo">
					<a href="/"><img src="../static/../static/images/logo.svg"></a>
				</div>
			</div>

            <div class="mobileBtn">
				
                <a class="joinBtn" href="#Join">Join Now</a>
				</div>
			</div>
			<div class="uk-float-right">
				<ul>
					<li><a href="/influencer">For Creators</a></li>
					<li><a href="/Brands">For Companies</a></li>
					<!-- <li><a class="joinBtn" href="#Join">Join Now</a></li> -->
				</ul>
				
			</div>
		</nav>	
</header>	

<section class="topBanner desktop" style="background-image:url('../static/images/banner.jpg') ">
	<div class="mdl">
		<div class="mdl_inner">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-1-2@m">	
						<div class="bannerContent">
							<h1>Welcome<br/> to the world of <br/> Social Pigeon</h1>
							<p>Navigate your digital world with <br/> exceptional influencers and social media <br/> marketing.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="topBanner mobile" style="background-image:url('../static/images/M1.jpg') ">
	<div class="mdl">
		<div class="mdl_inner">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-1-2@m">	
						<div class="bannerContent">
							<h1>Welcome<br/> to the world of <br/> Social Pigeon</h1>
							<p>Navigate your digital world with <br/> exceptional influencers and social media <br/> marketing.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="aboutMain secPadding">
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-1@m">	
				<div class="subHeading uk-text-center">
					<h2>About social pigeon</h2>
					<p>A platform that helps influencers and brands stay digitally <br/> connected to smartly market the products and services.</p>
				</div>
				<div class="videoBox">
				<!-- <video src="https://yootheme.com/site/../static/images/media/yootheme-pro.mp4"  loop muted playsinline uk-video="autoplay: inview"></video> -->
				<iframe src="https://www.youtube-nocookie.com/embed/N196m8Hvvfw?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="1920" height="1080" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
				
			</div>
			</div>
		</div>
	</div>
</section>

<section class="digitalMain" style="background-image:url('../static/images/background.jpg')" >
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-3@m">	
				<div class="mdl">
				<div class="mdl_inner">
				<div class="subHeading">
					
					<h4>Build digital presence, choose social pigeon</h4>
					<p>Our primary goal is to build a unique community of influencers that collaborates with brands and execute result-oriented campaigns.</p>
				</div>
				</div>
				</div>
				
			</div>
			<div class="uk-width-2-3@m">
				<div class="digitalImg">
					<img src="../static/../static/images/digital.png" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="aboutMain secPadding">
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-1@m">	
				<div class="subHeading uk-text-center">
					<h2>Transforming the way to connect</h2>
					<!-- <p>A platform that helps influencers and brands stay digitally <br/> connected to smartly market the products and services.</p> -->
				</div>
				<div class="tabs">
					<ul class="uk-subnav uk-subnav-pill" uk-switcher="connect: .tabList">
						<li><a href="#">Collaborate</a></li>
						<li><a href="#">Show Up</a></li>
						<li><a href="#">Earn</a></li>
					</ul>

					<ul class="uk-switcher uk-margin tabList">
					<li>
						<div class="tabsContent">
							<div uk-grid>
								<div class="uk-width-1-3@m">	
								<div class="mdl">
								<div class="mdl_inner">
									<div class="subHeading">
										<img src="../static/../static/images/sec1.jpg"/>
										<h2>Collaborate</h2>
										<p>With brands to influence creatively</p>
									</div>
								</div>
							</div>
								</div>
								<div class="uk-width-2-3@m">
									<div class="digitalImg">
										<img src="../static/images/tab1.jpg" />
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="tabsContent">
							<div uk-grid>
								<div class="uk-width-1-3@m">	
								<div class="mdl">
								<div class="mdl_inner">
									<div class="subHeading">
										<img src="../static/../static/images/show.svg"/>
										<h2>Show up</h2>
										<p>With brands to influence creatively</p>
									</div>
								</div>
							</div>
								</div>
								<div class="uk-width-2-3@m">
									<div class="digitalImg">
										<img src="../static/../static/images/show.jpg" />
									</div>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="tabsContent">
							<div uk-grid>
								<div class="uk-width-1-3@m">	
								<div class="mdl">
								<div class="mdl_inner">
									<div class="subHeading">
										<img src="../static/../static/images/earn.svg"/>
										<h2>Earn</h2>
										<p>With brands to influence creatively</p>
									</div>
								</div>
							</div>
								</div>
								<div class="uk-width-2-3@m">
									<div class="digitalImg">
										<img src="../static/../static/images/earn.jpg" />
									</div>
								</div>
							</div>
						</div>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="Influencer desktop" style="background-image:url('../static/images/sec2.jpg') ">
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-2@m">	
				<div class="subHeading">
					<h3>Take your vision across <br/>the world, work with us</h3>
					<p>We are cooing with excitement and can't wait to take<br/>your vision across the world.</p>
					<a class="greenBtn" href="/influencer">I’m An Influencer</a>
					<a class="transparentBtn" href="/Brands">I’m A Brand</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="Influencer mobile">
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-1@m">	
				
					<img src="../static/images/mobile22.jpg"/>
			</div>

			<div class="uk-width-1-1@m">	
				<div class="subHeading mobile">
					<h3>Take your vision across <br/>the world, work with us</h3>
					<p>We are cooing with excitement and can't wait to take<br/>your vision across the world.</p>
					<a class="greenBtn" href="/influencer">I’m An Influencer</a>
					<a class="transparentBtn" href="/Brands">I’m A Brand</a>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="aboutMain secPadding" id="Join">
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-1@m">	
				<div class="subHeading uk-text-center">
					<h2>Sign Up Here</h2>
					<p>We help you get wings</p>
				</div>
			</div>

            <div class="uk-width-1-1@m">
            <div class="TabForm videoBox">
				<div class="tabformlist">
					<ul class="uk-subnav uk-subnav-pill" id="Multiform" uk-switcher="connect: .tabform">
						<li><a href="#" style="pointer-events: none">1. Personal info</a></li>
						<li><a href="#" style="pointer-events: none">2. Social Network</a></li>
					</ul>
		<form id="information" action="{{ url_for('formsubmit') }}" method="post" >
						<ul class="uk-switcher uk-margin tabform">
						<li>
							<div uk-grid>
								<div class=" uk-width-1-2@m">
									<label class="uk-form-label" for="FirstName">First Name <span class="validate">*</span></label>
									<div class="uk-form-controls">
										<input class="uk-input" id="FirstName" type="text" placeholder="First Name" maxlength="40" oninput="validate1(this)"  name="Fname" required>
									</div>
								</div>


								<div class=" uk-width-1-2@m">
									<label class="uk-form-label" for="LastName">Last Name <span class="validate">*</span></label>
									<div class="uk-form-controls">
										<input class="uk-input" id="LastName" type="text" placeholder="Last Name" maxlength="40" oninput="validate1(this)"  name ="Lname" required>
									</div>
								</div>

								<div class=" uk-width-1-2@m">
									<label class="uk-form-label" for="email">Email <span class="validate">*</span></label>
									<div class="uk-form-controls">
										<input class="uk-input" id="email"  type="email" placeholder="Enter your Email Address" oninput="validate1(this)" maxlength="40" name="email" required>
									</div>
								</div>

								<div class=" uk-width-1-2@m">
									<label class="uk-form-label" >Phone Number <span class="validate">*</span></label>
									<div class="uk-form-controls">
										<input class="uk-input" type="tel" placeholder="03XXXXXXXXX" name="phone" maxlength="13" oninput="validate1(this)"   id="myfrom_phone"  required>
									</div>
								</div>

								<div class=" uk-width-1-2@m">
									<label class="uk-form-label" >Address <span class="validate">*</span></label>
									<div class="uk-form-controls">
										<input class="uk-input" type="text" placeholder="Street Address" maxlength="100" oninput="validate1(this)"   id="address1" name = "add1" required>
									</div>
								</div>


								<div class=" uk-width-1-2@m">
									<label class="uk-form-label" >Address 2</label>
									<div class="uk-form-controls">
										<input class="uk-input" type="text" placeholder="Street Address Line 02" oninput="validate1(this)"  maxlength="100" name = "add2">
									</div>
								</div>

								<div class=" uk-width-1-1@m">
									
									<div class="uk-form-controls uk-float-right">
										<button onclick="validate()" class="greenBtn">Next</button>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div uk-grid>
								<div class=" uk-width-1-1@m">
									<label class="uk-form-label">What are the main outlets and channels you share content to?<span class="validate">*</span></label>
									<div class="uk-form-controls category" >
										<label><input class="uk-checkbox trigger" type="checkbox" name="network" id="youtubeBtn"> Youtube</label>
										<label><input class="uk-checkbox trigger" type="checkbox" name="network" id="instagramBtn"> Instagram</label>
										<label><input class="uk-checkbox trigger" type="checkbox" name="network" id="facebookBtn"> Facebook</label>
										<label><input class="uk-checkbox trigger" type="checkbox" name="network" id="tiktokBtn"> Tiktok</label>
										<label><input class="uk-checkbox trigger" type="checkbox" name="network" id="LinkedInBtn"> LinkedIn</label>
										<label><input class="uk-checkbox trigger" type="checkbox" name="network" id="twitterBtn"> Twitter</label>
									</div>
								</div>

								<div class=" uk-width-1-1@m uk-grid-margin uk-first-column" id="youtube" style="display:none">
									<div>
										<div class="uk-grid" uk-grid>
											
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="http">Youtube username <span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input youtube" id="http" maxlength="200" oninput="validate1(this)"  type="text" placeholder="https://www.youtube.com/c/" name="youtubeLink">
												</div>
											</div>

											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="follow">Youtube followers <span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input youtube" id="follow" maxlength="30" oninput="validate1(this)"  type="text" placeholder="12k" name="youtubeFollowers">
												</div>
											</div>

											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="Charges">Youtube Video Charges? <span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input youtube" id="Charges" maxlength="30" oninput="validate1(this)"  type="text" placeholder="12k" name="youtubeVideo">
												</div>
											</div>

											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="YoutubeShortCharges">Youtube Short Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input youtube" id="YoutubeShortCharges" maxlength="30" oninput="validate1(this)"  type="text" placeholder="12k" name="youtubeShorts">
												</div>
											</div>
											
										</div>
									</div>
								</div>

								<div class=" uk-width-1-1@m uk-grid-margin uk-first-column" id="facebook" style="display:none">
									<div >
										<div class="uk-grid" uk-grid>
											<div class=" uk-width-1-2@m">
												<label class="uk-form-label" for="Fhttp">Facebook Username<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input facebook" id="Fhttp" type="text" maxlength="200" oninput="validate1(this)"   placeholder="https://www.facebook.com/" name="facebookLink">
												</div>
											</div>
											<div class=" uk-width-1-2@m">
												<label class="uk-form-label" for="fFollow">Facebook followers<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input facebook" id="Ffollow" type="text" maxlength="30" oninput="validate1(this)"  placeholder="23k" name="facebookFollowers">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="FPost">Facebook Post Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input facebook" id="FPost" type="text" maxlength="30" oninput="validate1(this)"   placeholder="12k" name="facebookPost">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="FCharges">Facebook Video Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input facebook" id="FCharges" type="text" maxlength="30" oninput="validate1(this)"  placeholder="12k" name="facebookVideo">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="FstoryCharges">Facebook Story Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input facebook" id="FstoryCharges" type="text" maxlength="30" oninput="validate1(this)"  placeholder="12k" name="facebookStory">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class=" uk-width-1-1@m uk-grid-margin uk-first-column" id="Instagram" style="display:none">
									<div >
										<div class="uk-grid" uk-grid>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="Insta-http">Instagram Username<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Instagram" id="Insta-http" type="text" maxlength="200" oninput="validate1(this)"   placeholder="https://www.instagram.com/" name="instagramLink">
												</div>
											</div>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="Insta-Follow">Instagram followers<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Instagram" id="Insta-follow" type="text" maxlength="30" oninput="validate1(this)"  placeholder="56K" name="instagramFollowers">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="Insta-Post">Instagram Post Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Instagram" id="Insta-Post" type="text" maxlength="30" oninput="validate1(this)"   placeholder="12k" name="instagramPost">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="Insta-Charges">Instagram Video Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Instagram" id="Insta-Charges" type="text" maxlength="30"  oninput="validate1(this)"  placeholder="12k" name="instagramVideo">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="InstaStoryCharges">Instagram Story Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Instagram" id="InstaStoryCharges" type="text" maxlength="30" oninput="validate1(this)"   placeholder="12k" name="instagramStory">
												</div>
											</div>
										</div>
									</div>
								</div>


								<div class=" uk-width-1-1@m uk-grid-margin uk-first-column" id="Tiktok" style="display:none">
									<div >
										<div class="uk-grid" uk-grid>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="tiktok-http">Tiktok Username<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Tiktok" id="tiktok-http" type="text" maxlength="200" oninput="validate1(this)"  placeholder="https://tiktok.com/" name="tiktokLink">
												</div>
											</div>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="tiktok-Follow">Tiktok followers<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Tiktok" id="tiktok-Follow" type="text" maxlength="30" oninput="validate1(this)"   placeholder="78k" name="tiktokFollowers">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="tiktok-Charges">Tiktok Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Tiktok" id="tiktok-Charges" type="text" maxlength="30" oninput="validate1(this)"   placeholder="78k" name="tiktokCharges">
												</div>
											</div>
										</div>
									</div>
								</div>


								<div class=" uk-width-1-1@m uk-grid-margin uk-first-column" id="LinkedIn" style="display:none">
									<div >
										<div class="uk-grid" uk-grid>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="LinkedIn-http">LinkedIn Username<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input LinkedIn" id="LinkedIn-http" type="text" maxlength="200" oninput="validate1(this)"   placeholder="https://www.linkedin.com/in/" name="LinkedInLink">
												</div>
											</div>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="LinkedIn-Follow">LinkedIn Connections<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input LinkedIn" id="LinkedIn-Follow" type="text" maxlength="30" oninput="validate1(this)"   placeholder="12k" name="LinkedInFollowers">
												</div>
											</div>

											<div class="uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="LinkedInCharges">LinkedIn Charges <span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input LinkedIn" id="LinkedInCharges" type="text" maxlength="30" oninput="validate1(this)"   placeholder="12k" name="LinkedInCharges">
												</div>
											</div>

										</div>
									</div>
								</div>


								<div class=" uk-width-1-1@m uk-grid-margin uk-first-column" id="Twitter" style="display:none">
									<div >
										<div class="uk-grid" uk-grid>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="twitter-http">Twitter Username<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Twitter" id="twitter-http" type="text" maxlength="200" oninput="validate1(this)"  placeholder="https://twitter.com/" name="twitterLink">
												</div>
											</div>
											<div class=" uk-width-1-2@m ">
												<label class="uk-form-label" for="twitter-Follow">Twitter followers<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Twitter" id="twitter-Follow" type="text" maxlength="30" oninput="validate1(this)"   placeholder="90k" name="twitterFollowers">
												</div>
											</div>

											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="twitter-Post">Twitter Post Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Twitter" id="twitter-Post" type="text" maxlength="30" oninput="validate1(this)"   placeholder="12k" name="twitterPost">
												</div>
											</div>
											<div class=" uk-width-1-2@m uk-grid-margin uk-first-column">
												<label class="uk-form-label" for="twitter-Charges">Twitter Video Charges?<span class="validate">*</span></label>
												<div class="uk-form-controls">
													<input class="uk-input Twitter" id="twitter-Charges" type="text" maxlength="30" oninput="validate1(this)"  placeholder="12k" name="twitterVideo">
												</div>
											</div>
										</div>
									</div>
								</div>


								<div class=" uk-width-1-1@m">
									<label class="uk-form-label">Category <span class="validate">*</span></label>
									<div class="uk-form-controls category">
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Food" value="Food"> Food</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Tech" value="Tech"> Tech</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Fitness" value="Fitness"> Fitness</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Travel" value="Travel"> Travel</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Lifestyle" value="Lifestyle"> Lifestyle</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Fashion" value="Fashion"> Fashion</label>

										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="SocialActivist" value="SocialActivist"> Social Activist</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat" id="Gaming" value="Gaming"> Gaming</label>
										<label><input class="uk-checkbox trigger2" type="checkbox" name="cat"id= "Others" value="Others"> Others</label>
									</div>
								</div>
								

								<div class=" uk-width-1-1@m">
									<label class="uk-form-label" for="website">If you have a website or blog, what is the URL?</label>
									<div class="uk-form-controls">
										<input class="uk-input" id="website" type="text" maxlength="200" oninput="validate1(this)"  placeholder="https://" name="website">
									</div>
								</div>

								 <div class=" uk-width-1-1@m">
									<label class="uk-form-label" for="work">Tell us about some of the recent brand sponsorship you've worked on.</label>
									<div class="uk-form-controls">
										<textarea class="uk-textarea" id="work" maxlength="500" rows="5" oninput="validate1(this)"  placeholder="Type here" name="BrandSponsor"></textarea>
									</div>
								</div>

                                <div class=" uk-width-1-1@m">
									<label class="uk-form-label" for="message">Is there anything else you'd like us to know about you?</label>
									<div class="uk-form-controls">
										<textarea class="uk-textarea" id="message" rows="5" placeholder="Type here" oninput="validate1(this)"  maxlength="500" name="LikeUsKnow"></textarea>
									</div>
								</div>

                                <div class=" uk-width-1-2@m">
									<label class="uk-form-label" for="agerange">What is the age range of followers? <span class="validate">*</span></label>
									<div class="uk-form-controls">
										<input class="uk-input" id="agerange" type="text" maxlength="45" oninput="validate1(this)"  placeholder="12-18" name="ageRange" required>
									</div>
								</div>

                                <div class=" uk-width-1-2@m">
									<label class="uk-form-label" for="Sra">Charges for BTL/Store raid activity?</label>
									<div class="uk-form-controls">
										<input class="uk-input" id="Sra" type="text" maxlength="45" oninput="validate1(this)"  placeholder="Enter your BTL/Store raid activity charges" name="storeraid">
									</div>
								</div>




								<div class=" uk-width-1-1@m">
									<div class="uk-form-controls uk-float-right">
										<button class="greenBtn" uk-switcher-item="previous">Back</button>
										<button class="greenBtn" type="submit">Submit</button>
									</div>
								</div>
							</div>	
						</li>
						</ul>
					</form>
				</div>
			</div>
            </div>			
		</div>
	</div>
</section>


<section class="Influencer newsletter desktop" style="background-image:url('../static/images/newLetter.jpg') ">
	<div class="uk-container">
		<div class="uk-flex uk-flex-center@m" uk-grid>
			<div class="uk-width-1-2@m">	
				<div class="subHeading uk-text-center">
					<h3>Subscribe to Newsletter</h3>
					<form>
					<div class="uk-margin">
        				<!-- <label class="uk-form-label" for="form-stacked-text">Text</label> -->
        					<div class="uk-form-controls">
            					<input class="uk-input" id="form-stacked-text" type="text" placeholder="Enter your phone number">
								<button type="submit"><img src="../static/images/newsForm.svg" uk-svg/></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="Influencer newsletter mobile" style="background-image:url('../static/images/perkMobile.jpg') ">
	<div class="uk-container">
		<div class="uk-flex uk-flex-center@m" uk-grid>
			<div class="uk-width-1-2@m">	
				<div class="subHeading uk-text-center">
					<h3>Subscribe to Newsletter</h3>
					<form>
					<div class="uk-margin">
        				<!-- <label class="uk-form-label" for="form-stacked-text">Text</label> -->
        					<div class="uk-form-controls">
            					<input class="uk-input" id="phone" type="text" placeholder="Enter your phone number">
								<button type="submit"><img src="../static/../static/images/newsForm.svg" uk-svg/></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="mainFooter">
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1@m">
				<div class="logo">
					<a><img src="../static/images/logo.svg"></a>
				</div>                
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerContent">
                    <h3>Social Pigeon is one of the growing networks, helping brands and influencers connect digitally for exceptional marketing.</h3>
                </div>
            </div>
           
            
            <div class="uk-width-1-4@m">
                <div class="footerNav desktopFooter">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/influencer">FOR CREATORS</a></li>
                        <li><a href="/Brands">FOR BRANDS</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-4@m">
            <div class="footerNav desktopFooter">
                    <ul>
                        <li><a>IBRAHIM TRADE TOWER, #803, SHAHRAH-E-FAISAL, KARACHI.</a></li>
                        <li><a href="tel:+92 (0)21 34327748">+92 (0)21 34327748</a></li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerbottomContent desktopFooter">
					<p>Copyright© Social Pigeon. All rights reserved |</p>
                     <p style="margin-top:10px">Powered by <a target="_blank" href="https://www.convexinteractive.com/"> Convex Interactive</p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Terms and Conditions</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Privacy Policy</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="mailto:info@socialpigeon.io"><u>info@socialpigoen.io</u></a></p>
                </div>
            </div>

            </div>

        </div>
    </div>
</footer>


<script>

window.onload = function(){
 document.getElementById("information").reset();}

$('#information').submit(function (e) {


        //check atleat 1 checkbox is checked
       if (!$('.trigger').is(':checked')) {
            //prevent the default form submit if it is not checked
            e.preventDefault();
             UIkit.notification('please select the main outlets and social media channels you share content to', 'warning');
<!--            alert("please select the main outlets and social media channels you share content to")-->
        }
        else if (!$('.trigger2').is(':checked')) {
         e.preventDefault();
         UIkit.notification('Please Select Category', 'warning');
<!--            alert("please select Category")-->
            }

            $.ajax({
			data : {
			},
			type : 'POST',
			url : '/formsubmit'
		})
		.done(function(resp) {
		alert(resp)

			if (resp["code"]==200) {
			   console.log("sucess");
			    alert('Record Already Exists');
				$('#errorAlert').text("Record already exists").show();
				$('#successAlert').hide();
				event.preventDefault();
			}
			else if (resp["code"]==400) {
			 console.log("Failure");
			    alert('Your Response has been Recorded');
				$('#successAlert').text("your response has been recorded").show();
				$('#errorAlert').hide();
			}

		});
		 })



	$(function () {
        $("#youtubeBtn").click(function () {
            if ($(this).is(":checked")) {
                $("#youtube").show();

                $(".youtube").attr('required', true);

                // $("#AddPassport").hide();
            } else {
                $("#youtube").hide();
                $(".youtube").attr('required', false);
                 $(".youtube").val("");
            }
        });
		$("#instagramBtn").click(function () {
            if ($(this).is(":checked")) {
                $("#Instagram").show();
                $(".Instagram").attr('required', true);
                // $("#AddPassport").hide();
            } else {
                $("#Instagram").hide();
                $(".Instagram").attr('required', false);
                 $(".Instagram").val("");
            }
        });
		$("#facebookBtn").click(function () {
            if ($(this).is(":checked")) {
                $("#facebook").show();
                $(".facebook").attr('required', true);
                // $("#AddPassport").hide();
            } else {
                $("#facebook").hide();
                $(".facebook").attr('required', false);
                 $(".facebook").val("");
            }
        });
		$("#tiktokBtn").click(function () {
            if ($(this).is(":checked")) {
                $("#Tiktok").show();
                $(".Tiktok").attr('required', true);
                // $("#AddPassport").hide();
            } else {
                $("#Tiktok").hide();
                 $(".Tiktok").attr('required', false);
                 $(".Tiktok").val("");
            }
        });
		$("#LinkedInBtn").click(function () {
            if ($(this).is(":checked")) {
                $("#LinkedIn").show();
                $(".LinkedIn").attr('required', true);
                // $("#AddPassport").hide();
            } else {
                $("#LinkedIn").hide();
                  $(".LinkedIn").attr('required', false);
                 $(".LinkedIn").val("");
            }
        });
		$("#twitterBtn").click(function () {
            if ($(this).is(":checked")) {
                $("#Twitter").show();
                  $(".Twitter").attr('required', true);
                // $("#AddPassport").hide();
            } else {
                $("#Twitter").hide();
                  $(".Twitter").attr('required', false);
                 $(".Twitter").val("");
            }
        });
    });
     function validate(){
        event.preventDefault();
        var FirstName = $("#FirstName").val();
        var LastName=$("#LastName").val();
        var email = $("#email").val();
        var number = $("#myfrom_phone").val();
        var Address = $("#address1").val();
		pattern="03(?!1234567)(?!1111111)(?!7654321)[0-9]{9}"
		email_pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"

        if(FirstName == ''|| LastName=='' || email == '' || Address == '' || number == '' ){
        	UIkit.notification('Please fill the required fields', 'warning');
        }
        else if (!number.match(pattern))
        {
        UIkit.notification('Please fill the number in required format', 'warning');
        }
        else if (!email.match(email_pattern))
        {
        UIkit.notification('Please fill the correct format for email', 'warning');
        }
        else{
    	UIkit.switcher('#Multiform').show(1);
    	}
    }
  function validate1(input){
  if(/^\s/.test(input.value))
    input.value = '';
}

</script>
</body>
</html>