
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Privacy Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
<!-- Header Start -->
<header class="mainHeader desktop">
		<nav class="uk-container uk-navbar-transparent" >

			<div class="uk-float-left">
				<div class="logo">
					<a href="/"><img src="../static/../static/images/logo.svg"></a>
				</div>
			</div>
			<div class="uk-float-right">
				<ul>
					<li><a href="/influencer">For Creators</a></li>
					<li><a href="/Brands">For Companies</a></li>
					<li><a class="joinBtn" href="#Join">Join Now</a></li>
				</ul>

			</div>
		</nav>
</header>


<!-- mobile Header Start -->
<header class="mainHeader mobile">
		<nav class="uk-container uk-navbar-transparent" >

			<div class="uk-float-left">
				<div class="logo">
					<a href="/"><img src="../static/../static/images/logo.svg"></a>
				</div>
			</div>

            <div class="mobileBtn">

                <a class="joinBtn" href="#Join">Join Now</a>
				</div>
			</div>
			<div class="uk-float-right">
				<ul>
					<li><a href="/influencer">For Creators</a></li>
					<li><a href="/Brands">For Companies</a></li>
					<!-- <li><a class="joinBtn" href="#Join">Join Now</a></li> -->
				</ul>

			</div>
		</nav>
</header>

<section class="topBanner desktop" style="background-image:url('../static/images/privscypolicy.jpg'); height:60vh ">
	<div class="mdl">
		<div class="mdl_inner">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-1-1@m">
						<div class="bannerContent uk-text-center">
							<h1 style="color:#fff; margin-top:-10%">Privacy Policy</h1>
<!--							<p>Navigate your digital world with <br/> exceptional influencers and social media <br/> marketing.</p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="uk-container">
<p style="margin-top: 30px; !important;">Convex Interactive Pvt Ltd. is the sole operator of this app and is committed to protecting the privacy of its users. Therefore, it is important for you to know that any personal information collected on this app is solely intended to enhance your experience.</p>

<p>By using our app, you agree to our privacy policy and consent to sharing your information with us.</p><h2>How We Use Collected Information:</h2>

<p><strong>To improve customer service:</strong> The information you provide helps us respond to your customer service requests and support needs more efficiently.
<br /><strong>To personalize the user experience:</strong> We may use information in the aggregate to understand how our users as a group utilize the services and resources provided on our site.
<br /><strong>To enhance our site:</strong> We continuously strive to improve our website offerings based on the information and feedback we receive from you.
<br />To send periodic emails: We may use the email address provided to respond to inquiries, questions, and/or other requests.</p><h2>How We Protect Your Information:</h2>

<p>We adopt appropriate data collection, storage, and processing practices, as well as security measures, to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our site.</p><h2>Sharing Your Personal Information:</h2>

<p style="margin-bottom: 30px; !important;">We do not sell, trade, or rent users' personal identification information to others. However, we may share generic aggregated demographic information, not linked to any personal identification information, regarding visitors and users, with our business partners, trusted affiliates, and advertisers for the purposes outlined above.</p>
</div>
    <footer class="mainFooter">
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1@m">
				<div class="logo">
					<a><img src="../static/images/logo.svg"></a>
				</div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerContent">
                    <h3>Social Pigeon is one of the growing networks, helping brands and influencers connect digitally for exceptional marketing.</h3>
                </div>
            </div>


            <div class="uk-width-1-4@m">
                <div class="footerNav desktopFooter">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/influencer">FOR CREATORS</a></li>
                        <li><a href="/Brands">FOR BRANDS</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-4@m">
            <div class="footerNav desktopFooter">
                    <ul>
                        <li><a>IBRAHIM TRADE TOWER, #803, SHAHRAH-E-FAISAL, KARACHI.</a></li>
                        <li><a href="tel:+92 (0)21 34327748">+92 (0)21 34327748</a></li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerbottomContent desktopFooter">
					<p>Copyright© Social Pigeon. All rights reserved |</p>
                     <p style="margin-top:10px">Powered by <a target="_blank" href="https://www.convexinteractive.com/"> Convex Interactive</p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Terms and Conditions</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Privacy Policy</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="mailto:info@socialpigeon.io"><u>info@socialpigoen.io</u></a></p>
                </div>
            </div>

            </div>

        </div>
    </div>
</footer>

</body>
</html>
