
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Terms and Condition</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
<!-- Header Start -->
<header class="mainHeader desktop">
		<nav class="uk-container uk-navbar-transparent" >

			<div class="uk-float-left">
				<div class="logo">
					<a href="/"><img src="../static/../static/images/logo.svg"></a>
				</div>
			</div>
			<div class="uk-float-right">
				<ul>
					<li><a href="/influencer">For Creators</a></li>
					<li><a href="/Brands">For Companies</a></li>
					<li><a class="joinBtn" href="#Join">Join Now</a></li>
				</ul>

			</div>
		</nav>
</header>


<!-- mobile Header Start -->
<header class="mainHeader mobile">
		<nav class="uk-container uk-navbar-transparent" >

			<div class="uk-float-left">
				<div class="logo">
					<a href="/"><img src="../static/../static/images/logo.svg"></a>
				</div>
			</div>

            <div class="mobileBtn">

                <a class="joinBtn" href="#Join">Join Now</a>
				</div>
			</div>
			<div class="uk-float-right">
				<ul>
					<li><a href="/influencer">For Creators</a></li>
					<li><a href="/Brands">For Companies</a></li>
					<!-- <li><a class="joinBtn" href="#Join">Join Now</a></li> -->
				</ul>

			</div>
		</nav>
</header>

<section class="topBanner desktop" style="background-image:url('../static/images/privscypolicy.jpg'); height:60vh ">
	<div class="mdl">
		<div class="mdl_inner">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-1-1@m">
						<div class="bannerContent uk-text-center">
							<h1 style="color:#fff; margin-top:-10%">Terms and Condition</h1>
<!--							<p>Navigate your digital world with <br/> exceptional influencers and social media <br/> marketing.</p>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="uk-container">
<p style="margin-top: 30px; !important;">Social Pigeon Application, referred to as app, we, our, us. These terms and conditions monitor your access to and use of our services including our app, email notifications, widgets, links, and buttons. You automatically agree to the terms and conditions by signing up for Social Pigeon.</p>
    <p>
        <ul>
    <li>
        <p><b>Acceptance of Terms:</b> Users are required to read, understand, and agree to the terms and conditions before using the platform or its services.</p>
    </li>

    <li>
        <p><b>User Eligibility:</b> Users must meet certain criteria (such as age restrictions) to use the platform or specific features.</p>
    </li>

    <li>
        <p><b>Account Creation:</b> Users may need to create an account, provide accurate information, and choose a secure password. They may also be responsible for maintaining the confidentiality of their account credentials.</p>
    </li>

    <li>
        <p><b>User Conduct:</b> Users are expected to comply with applicable laws and regulations and refrain from engaging in prohibited activities, such as illegal content sharing, harassment, spamming, or hacking.</p>
    </li>

    <li>
        <p><b>Intellectual Property:</b> Users are typically required to respect the intellectual property rights of the platform and other users, and they may not infringe upon copyrights, trademarks, or other proprietary rights.</p>
    </li>
    <li>
        <p><b>Content Submission:</b>Users may have the ability to submit or upload content to the platform, but they are often required to ensure the content is original, lawful, and does not violate any rights or regulations.</p>
    </li>
    <li>
       <p><b>Privacy and Data Protection:</b>The platform should outline how user data is collected, stored, and used, as well as any applicable privacy policies and data protection measures.</p>
    </li>
    <li>
        <p><b>Third-Party Links and Services:</b>If the platform provides links to third-party websites or services, it may disclaim responsibility for the content or actions of those third parties.</p>
    </li>
    <li>
        <p><b>Dispute Resolution:</b>The terms and conditions may include provisions regarding dispute resolution, such as arbitration or mediation, to settle any conflicts between the platform and users.</p>
    </li>
    <li>
        <p><b>Limitation of Liability:</b>The platform may limit its liability for any damages or losses incurred by users while using the platform's services or as a result of any disruptions or security breaches.</p>
    </li>
</ul>
</div>
    <footer class="mainFooter">
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1@m">
				<div class="logo">
					<a><img src="../static/images/logo.svg"></a>
				</div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerContent">
                    <h3>Social Pigeon is one of the growing networks, helping brands and influencers connect digitally for exceptional marketing.</h3>
                </div>
            </div>


            <div class="uk-width-1-4@m">
                <div class="footerNav desktopFooter">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/influencer">FOR CREATORS</a></li>
                        <li><a href="/Brands">FOR BRANDS</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-4@m">
            <div class="footerNav desktopFooter">
                    <ul>
                        <li><a>IBRAHIM TRADE TOWER, #803, SHAHRAH-E-FAISAL, KARACHI.</a></li>
                        <li><a href="tel:+92 (0)21 34327748">+92 (0)21 34327748</a></li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerbottomContent desktopFooter">
					<p>Copyright© Social Pigeon. All rights reserved |</p>
                     <p style="margin-top:10px">Powered by <a target="_blank" href="https://www.convexinteractive.com/"> Convex Interactive</p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Terms and Conditions</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Privacy Policy</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="mailto:info@socialpigeon.io"><u>info@socialpigoen.io</u></a></p>
                </div>
            </div>

            </div>

        </div>
    </div>
</footer>

</body>
</html>
