<!DOCTYPE html>
<html>
<head>
    <title>Social Pigeon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>


<body>
<!-- Header Start -->
<header class="mainHeader desktop">
      <nav class="uk-container uk-navbar-transparent" >

         <div class="uk-float-left">
            <div class="logo">
               <a href="/"><img src="../static/images/logo.svg"></a>
            </div>
         </div>
         <div class="uk-float-right">
            <ul>
               <li><a href="/influencer">For Creators</a></li>
               <li><a href="/Brands">For Companies</a></li>
               <li><a class="joinBtn" href="/">Join Now</a></li>
            </ul>

         </div>
      </nav>
</header>


<!-- mobile Header Start -->
<header class="mainHeader mobile">
      <nav class="uk-container uk-navbar-transparent" >

         <div class="uk-float-left">
            <div class="logo">
               <a href="/"><img src="../static/images/logo.svg"></a>
            </div>
         </div>

            <div class="mobileBtn">

                <a class="joinBtn" href="#Join">Join Now</a>
            </div>
         </div>
         <div class="uk-float-right">
            <ul>
               <li><a href="/influencer">For Creators</a></li>
               <li><a href="/Brands">For Companies</a></li>
               <!-- <li><a class="joinBtn" href="#Join">Join Now</a></li> -->
            </ul>

         </div>
      </nav>
</header>
<section class="topBanner" style="background-image:url('../static/images/thank.jpg') ">
   <div class="mdl">
      <div class="mdl_inner">
         <div class="uk-container">
            <div uk-grid>
               <div class="uk-width-1-1@m">
                  <div class="bannerConten uk-text-center ">
                      <img src="../static/images/tick.svg">
                     <h1>Thank you</span></h1>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<footer class="mainFooter">
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1@m">
				<div class="logo">
					<a><img src="../static/images/logo.svg"></a>
				</div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerContent">
                    <h3>Social Pigeon is one of the growing networks, helping brands and influencers connect digitally for exceptional marketing.</h3>
                </div>
            </div>


            <div class="uk-width-1-4@m">
                <div class="footerNav desktopFooter">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/influencer">FOR CREATORS</a></li>
                        <li><a href="/Brands">FOR BRANDS</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-1-4@m">
            <div class="footerNav desktopFooter">
                    <ul>
                        <li><a>IBRAHIM TRADE TOWER, #803, SHAHRAH-E-FAISAL, KARACHI.</a></li>
                        <li><a href="tel:+92 (0)21 34327748">+92 (0)21 34327748</a></li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-2-5@m">
                <div class="footerbottomContent desktopFooter">
					<p>Copyright© Social Pigeon. All rights reserved |</p>
                     <p style="margin-top:10px">Powered by <a target="_blank" href="https://www.convexinteractive.com/"> Convex Interactive</p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Terms and Conditions</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="javascript:;">Privacy Policy</a></p>
                </div>
            </div>
            <div class="uk-width-1-6@m">
                <div class="footerbottomContent desktopFooter">
                    <p><a href="mailto:info@socialpigeon.io"><u>info@socialpigoen.io</u></a></p>
                </div>
            </div>

            </div>

        </div>
    </div>
</footer>

</body>
</html>